$button-grey: #ddd;
$button-green: #80cbc4;
$header-bar-blue: #00bbd3;
$title-white: #fff;
$regular-text: rgba(255, 255, 255, 0.6);
$placeholder-text: rgba(255, 255, 255, 0.4);
$green-text: #92cbc5;
$button-text-grey: #1c1c1c;
$background-primary: #282828;


$font-family: Roboto;

$base-font-size: 16px;
$base-line-height: 24px;


body {
  margin: 0;
}

main {
margin: auto;
max-width: 60rem;

}

nav {
  background: $header-bar-blue;
  color: $title-white;
  overflow: auto;
}

.navbar-heading {
  font-family: $font-family;
  margin-left: 1rem;
}

.container {
  background: $background-primary;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  height: 100%;
  font-family: $font-family;
  max-width: 60rem;
}

.run-list {
margin-top: 0;
text-decoration: none;
display:flex;
flex-direction: column;
max-width: 60rem;

}

.run-list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem;
  border-bottom: 1px solid $regular-text;
}

footer {
  color: $button-green;
  font-size: 5rem;
  background: $background-primary;
  display: flex;

}

.footer-text {
  display: flex;
  width: 100%;
  margin: 0;
  margin: 1rem;
  justify-content: flex-end;
}


.run-text {
  margin: 0;
  line-height: $base-line-height;
  color: $regular-text;
}



.new-run-heading {
  margin: 1rem;
  color: $regular-text;
}

.new-run-buttons {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.run-form {
  display: flex;
  flex-direction: column;
  max-width: 60rem;

}

.new-run-input {
  background: $background-primary;
  color: $regular-text;
  margin: 1rem;
  line-height: $base-line-height;
  border: 0;
  border-bottom: 1px solid $placeholder-text;
}

::-webkit-input-placeholder {
  color: $placeholder-text;
}

.new-run-save {
  background: $button-green;
  border-radius: 0.4rem;
  border: 0;
}

.new-run-cancel {
  background: $button-grey;
  border-radius: 0.4rem;
  border: 0;

}
