<div class="run-list">
  {{#each model as |run|}}
  <div class="run-list-item">
    <p class="run-text">{{run.date}}</p> <p class="run-text">{{run.time}}</p>
  </div>
  {{/each}}
</div>


<footer>
  {{#link-to "new"}}
  <p class="footer-text">{{fa-icon "plus-circle"}}</p>
  {{/link-to}}
</footer>
