<div class="app">
  <header>
    <nav class="top-nav">
      <div class="container">
        <ul class="top-nav__links">
          <<li></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="app__content">
    <div class="app-container">
      {{outlet}}
    </div>
  </div>

</div>
