<main>
<nav>
  <p class="navbar-heading">Run Timer</p>
</nav>

<div class="container">
  <div class="run-list">

    <div class="run-list-item">
      <p class="run-text">8/22/15</p> <p class="run-text">18:02</p>
      </div>

  </div>
</div>

<footer>
  <p class="footer-text">{{fa-icon "plus-circle"}}</p>
  <p>text</p>
</footer>
</main>
